<!doctype html>
<html>
    <head>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Plataforma cursinho popular" />
    <meta property="og:site_name" content="Plataforma cursinho popular" />
    <meta property="og:description" content="Plataforma cursinho popular" />
    <meta property="og:url" content="https://bolitto.github.io/cursinho" />
    <meta property="og:locale" content="pt_BR" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title>Plataforma cursinho popular</title>
    <link rel="canonical" href="https://bolitto.github.io/cursinho">
    <meta name="author" content="Plataforma cursinho popular">
    <meta name="description" content="Plataforma cursinho popular">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png" sizes="32x32">
  </head>
  <body>
    <nav>
      <div class="container header">
        <a href="{{ site.baseurl }}/">{% include logo.html %}</a>
        <div style="float: right">
          <a class="blue-color" href="/cursos/">CURSOS</a>
          &nbsp;&nbsp;&nbsp;
          <a class="blue-color" href="/sobre/">SOBRE</a>
          &nbsp;&nbsp;&nbsp;
          <a class="blue-color" href="/colabore/">COLABORE</a>
        </div>
      </div>
    </nav>
    <div class="content">
      {{ content }}

    </div>
	
		<footer>
			<p class="editor-link" style="margin-bottom: 20px;"><a href="cloudcannon:collections/_data/company.yml" class="btn"><strong>&#9998;</strong> Update footer</a></p>
			<div class="container">
				<div class="about">
					<p>{{ site.data.company.mission_statement }}</p>
				</div>

				<div class="contact">
					<address>
						<a href="https://www.google.com/maps/place/{{ site.data.company.address | url_encode }}">
							{% include icons/footer.html icon="place" %} {{ site.data.company.address }}
						</a>
					</address>
					<p class="email">
						<a href="mailto:{{ site.data.company.email }}">
							{% include icons/footer.html icon="email" %} {{ site.data.company.email }}
						</a>
					</p>
					<p class="phone">
						<a href="tel:{{ site.data.company.phone | replace: ' ', '-' }}">
							{% include icons/footer.html icon="phone" %} {{ site.data.company.phone }}
						</a>
					</p>
				</div>

				<div class="sharing">
					<a class="facebook" href="https://www.facebook.com/{{ site.data.company.facebook }}">
						{% include icons/social-media.html social_icon="facebook" %}
					</a>
					<a class="twitter" href="https://twitter.com/{{ site.data.company.twitter }}">
						{% include icons/social-media.html social_icon="twitter" %}
					</a>
					<a class="youtube" href="https://youtube.com/{{ site.data.company.youtube }}">
						{% include icons/social-media.html social_icon="youtube" %}
					</a>
				</div>
			</div>
		</footer>
		<p class="copyright">
			<a href="https://cloudcannon.com/">
				Template by CloudCannon
			</a>
		</p>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script type="text/javascript">
			$('a[href*=\\#]').on('click', function(event){
				var el = $(this.hash);
				if (el.length > 0) {
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top}, 500);
				}
			});
		</script>
	</body>
</html>
